*.class
*~
.*.swp
.*.swo
.loadpath
.buildpath
.project
.settings
.classpath
.idea
*.iml
*.ipr
*.iws
nbproject
.DS_Store
target
test-output
nbactions.xml
CVS
bin
.history
/lib
.cache
.dos_cmds
.target/
~
